<div class="p-2 md:p-8">
  <h1 class="text-center text-3xl font-bold my-5">Let's start learning</h1>
  <div class="text-center w-full md:w-1/2 mx-auto">
    Welcome to Learn Platform - where every day is a day to learn. Dive into the
    vast ocean of knowledge and empower yourselg with the tools for a auccessful
    tomorrow. Happy learning!
  </div>
  <div class="flex justify-center my-8">
    <img src="assets/photos/home.png" alt="home" class="w-full md:w-2/3" />
  </div>
  <div
    class="bg-base-200 w-full h-96 my-8 flex justify-center flex-col items-center relative p-2 overflow-hidden"
  >
    <h1 class="text-3xl text-center text-primary my-3 font-bold z-10">
      Join us
    </h1>
    <p class="text-center w-full md:w-1/2 mx-auto z-10">
      Join us and start learning today. We have a wide range of courses to
      choose from. You can learn at your own pace and get certified. Join us
      today!
    </p>
    <a class="btn btn-primary my-3 z-10" routerLink="/join-us">Join us</a>
    <div
      class="w-40 h-40 md:w-60 md:h-60 rounded-full bg-primary absolute z-0"
      style="bottom: -3rem; left: -3rem"
    ></div>
    <div
      class="w-64 h-64 md:w-80 md:h-80 rounded-full border-yellow-500 border-8 absolute z-0"
      style="top: -10rem; right: -10rem"
    ></div>
  </div>
</div>
