<div class="p-4 md:p-10">
  <h2 class="text-2xl font-bold my-3">Security</h2>
  <h3 class="text-md font-bold my-3">Change Password</h3>
  <div class="h-2 w-full flex justify-center">
    @if (changePasswordError) {
    <span class="text-error">{{ changePasswordError }}</span>
    }
  </div>
  <div class="flex justify-center">
    <form
      [formGroup]="changePasswordForm"
      (ngSubmit)="onSubmit()"
      class="flex flex-col items-center my-10 px-2 sm-px-0 w-full"
    >
      <label class="form-control w-full max-w-xs my-2">
        <div class="label">
          <span class="label-text font-bold">Current password</span>
        </div>
        <input
          type="password"
          placeholder="Current password"
          class="input input-bordered w-full max-w-xs"
          formControlName="currentPassword"
        />
        <div class="h-2">
          @if (currentPassword?.invalid && (currentPassword?.dirty ||
          currentPassword?.touched)) {
          <span class="text-error">Current password is required</span>
          }
        </div>
      </label>
      <label class="form-control w-full max-w-xs my-2">
        <div class="label">
          <span class="label-text font-bold">New password</span>
        </div>
        <input
          type="password"
          placeholder="New password"
          class="input input-bordered w-full max-w-xs"
          formControlName="password"
        />
        <div class="h-2">
          @if (password?.errors?.['required'] && (password?.dirty ||
          password?.touched)) {
          <span class="text-error">New password is required</span>
          } @else if (password?.errors?.['minlength'] && (password?.dirty ||
          password?.touched)) {
          <span class="text-error">Minimum 8 characters required</span>
          }
        </div>
      </label>
      <label class="form-control w-full max-w-xs my-2">
        <div class="label">
          <span class="label-text font-bold">Confirm password</span>
        </div>
        <input
          type="password"
          placeholder="Confirm password"
          class="input input-bordered w-full max-w-xs"
          formControlName="confirmPassword"
        />
        <div class="h-2">
          @if (changePasswordForm.errors?.['PasswordNoMatch'] &&
          (confirmPassword?.dirty || confirmPassword?.touched)) {
          <span class="text-error">Passwords do not match</span>
          }
        </div>
      </label>
      <button
        type="submit"
        class="btn btn-primary w-full max-w-xs mt-10"
        [disabled]="!changePasswordForm.valid"
      >
        Change Password
      </button>
    </form>
  </div>
</div>
